<!DOCTYPE html>
<html>

  <head>
		<title>{{ page.title }}</title>
    <!-- Automatic formating of screen no matter the device-->
		<meta charset="UTF=8" name="viewport" content="width=device-width , initial-scale=1.0">

    <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
  <body>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
	      <li><a href="/about.html">About</a></li>
    	</ul>
		</nav>
    <div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
      <footer align="center">
      
		  <h3 align="center"> Contact Me: </h3>
    			<ul>
        			<li><a href="mailto:cedent.eva@gmail.com"> <img src="/images/email.jpg" alt="E-mail Me" style="width:45px;height:26px;margin:0px -25px"></a></li>

        			<li><a href="https://github.com/EvyEve"> <img src="/images/github.png" alt="github.com/EvyEve" style="width:80px; height:30px;"></a></li>

        			<li><a href="https://www.linkedin.com/in/eva-cedent"> <img src="/images/linkedin.png" alt="My LinkedIn" style="width:80px;height:25px;margin:0px -30px"></a></li>
			    </ul>
		</footer>
	</body>
</html>
